- title("RSpec in the Wild")
.jumbotron
  %h1.center
    RSpec in the Wild
  %p Share real world RSpec examples. Learn from the pros!
  = bootstrap_form_for @project, style: :inline do |f|
    = f.text_field :url, hide_label: true, placeholder: "eg. https://github.com/rspec/rspec"
    = f.submit "Add GitHub Repo!"
    
%br

= render 'projects/index'