- title("RSpec in the Wild")
.jumbotron
  %h1
    RSpec in the Wild
  %p Share real world RSpec examples. Learn from the pros!
  = bootstrap_form_for @project do |f|
    = f.text_field :url, hide_label: true, placeholder: "eg. https://github.com/glenn0/in_the_wild"
    = f.submit "Add GitHub Repo!"
    
%br

= render 'projects/index'