#footer
  .container
    .row.footer-first-row
      .col-xs-12.text-center
        %p
          %small
            Made by #{link_to "Glenn", "http://twitter.com/glenn0"}.
            Find it on #{link_to "GitHub", "http://github.com/glenn0/in_the_wild"}.